#app
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.glow
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.75)

.bl-overlay
  mix-blend-mode: overlay

.bl-lighten
  mix-blend-mode: lighten

.backdrop-blur
  backdrop-filter: blur(5px)
  -webkit-backdrop-filter: blur(5px)
.backdrop-blur-darken
  backdrop-filter: brightness(0.8) blur(5px)
  -webkit-backdrop-filter: brightness(0.8) blur(5px)

.o-100
  opacity: 1

.border-white-1
  border: 2px solid white !important
  border-color: white !important

.radius-1
  border-radius: 4px !important

.adapt-border-radius
  border-radius: inherit !important
  overflow: hidden !important

.line-height-dense
  line-height: 1 !important

.monospace
  font-family: "Roboto Mono", monospace
  letter-spacing: -.04em

.v-list--text-no-wrap
  word-break: break-all !important
  white-space: normal !important

@keyframes scroll-to-right-animation
  0%
    transform: translateX(-30px)
    opacity: 0
  20%
    opacity: 1
  90%
    opacity: 1
  100%
    transform: translateX(0px)
    opacity: 0

@keyframes scroll-to-right-animation__parallex-section
  0%
    margin-left: -.1em
  100%
    margin-left: -.7em

.scroll-to-right-animation
  animation: scroll-to-right-animation 1.5s cubic-bezier(.1,.73,.46,1) infinite

.scroll-to-right-animation__parallex-section
  animation: scroll-to-right-animation__parallex-section 1.5s cubic-bezier(.1,.73,.46,1) infinite