#app
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.glow
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.75)

.bl-overlay
  mix-blend-mode: overlay

.bl-lighten
  mix-blend-mode: lighten

.backdrop-blur
  backdrop-filter: blur(5px)
  -webkit-backdrop-filter: blur(5px)

.o-100
  opacity: 1

.border-white-1
  border: 2px solid white !important
  border-color: white !important

.radius-1
  border-radius: 4px !important

.adapt-border-radius
  border-radius: inherit !important
  overflow: hidden !important

.line-height-dense
  line-height: 1 !important

.monospace
  font-family: "Roboto Mono", monospace